<div class="dashboard-container">
    <h1>Dashboard</h1>

    <div *ngIf="loading" class="loading">
        Loading Dashboard</div>
    <div *ngIf = "error" class="error">
        {{ error }}
    </div>
    <div *ngIf="!loading && profile">
        <div class="card">
            <h2>User Profile</h2>
            <img [src] = "profile.image">
            <p>{{ profile.firstname}}</p>
            <p>{{ profile.lastname }}</p>
            <p>{{ profile.email }}</p>
        </div>

        <div class="card">
            <h2>Posts</h2>
            <ul>
                <li *ngFor = "let post of posts">
                    Title:- {{ post.title }}
                    
                </li>
            </ul>
        </div>

        <div class="card">
            <h2>Notifications</h2>
            <ul>
                <li *ngFor = "let item of notifications">
                    {{ item .message }}

                </li>
            </ul>
        </div>

        <div class="card">
            <h2>Statistics</h2>
            <p>Users: {{statistics.totalUsers}}</p>
            <p>Posts: {{statistics.totalPosts}}</p>
            <p>Notifications: {{ statistics.notifications }}</p>
        </div>
    </div>
</div>