.todo-container {

  max-width: 700px;

  margin: 30px auto;

  padding: 20px;
}

h1 {

  text-align: center;

  margin-bottom: 30px;
}

.todo-box {

  display: flex;

  gap: 10px;

  justify-content: center;

  margin-bottom: 25px;
}

.todo-box input {

  width: 350px;

  padding: 12px;

  font-size: 16px;

  border: 1px solid #ccc;

  border-radius: 8px;
}

button {

  padding: 12px 18px;

  border: none;

  border-radius: 8px;

  cursor: pointer;

  font-size: 14px;
}

.todo-list {

  display: flex;

  flex-direction: column;

  gap: 12px;
}

.todo-item {

  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 15px;

  padding: 15px;

  border: 1px solid #ddd;

  border-radius: 8px;
}

.todo-item span {

  flex: 1;

  font-size: 16px;
}

.done {

  text-decoration: line-through;

  color: gray;
}

.delete-btn {
  background: red;
  color: white;
}

.reset-btn {

  display: block;

  margin: 25px auto;
}