.dashboard{
    text-align: center;
}
.dashboard h2{
    color: rgb(245, 66, 11);
    letter-spacing: 2cap;
    font-size: 20px;
    background-color: beige;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-top: 5px;
}