    .todo-container{
      min-height:100vh;
      padding:40px;
      background:linear-gradient(135deg,#0f172a,#1e293b,#334155);
      font-family:Arial,sans-serif;
    }
    h2{
      text-align:center;
      font-size:42px;
      color:#38bdf8;
      margin-bottom:40px;
    }
    .input-section{
      width:800px;
      margin:auto;
      display:flex;
      gap:15px;
      margin-bottom:40px;
    }
    input{
      flex:1;
      padding:15px;
      border:none;
      border-radius:12px;
      font-size:16px;
      outline:none;
    }

    button{
      border:none;
      background:#2563eb;
      color:white;
      padding:14px 25px;
      border-radius:10px;
      font-size:16px;
      font-weight:bold;
      cursor:pointer;
      transition:.3s;
    }

    button:hover{
      background:#1d4ed8;
      transform:translateY(-2px);
    }

    ul{
      width:800px;
      margin:auto;
      list-style:none;
      padding:0;
    }
    li{
      background:rgba(255,255,255,0.12);
      backdrop-filter:blur(10px);
      padding:20px 25px;
      border-radius:16px;
      margin-bottom:20px;
      display:flex;
      justify-content:space-between;
      align-items:center;
      box-shadow:0 8px 20px rgba(0,0,0,0.3);
    }
    li span{
      color:white;
      font-size:18px;
      cursor:pointer;
    }

    .delete-btn{
      background:#ef4444;
      padding:10px 15px;
    }

    .delete-btn:hover{
      background:#dc2626;
    }
