<div class="dashboard">

    <div class="form-section">

        <h1>
            👨‍💻 User Dashboard
        </h1>

        <input type="text" placeholder="Full Name" [(ngModel)]="userData.name">

        <input type="text" placeholder="Username" [(ngModel)]="userData.username">

        <input type="email" placeholder="Email Address" [(ngModel)]="userData.email">

        <input type="text" placeholder="Street" [(ngModel)]="userData.address.street">

        <input type="text" placeholder="City" [(ngModel)]="userData.address.city">

        <button *ngIf="!editMode" (click)="addUser()">

            Add User

        </button>

        <button *ngIf="editMode" class="update-btn" (click)="updateUser()">

            Update User

        </button>

    </div>


    <div class="loading" *ngIf="loading">

        Loading Users...

    </div>


    <div class="users-grid">

        <div class="user-card" *ngFor="
                let user of users
            ">

            <h2>
                {{ user.name }}
            </h2>

            <p>
                @{{ user.username }}
            </p>

            <p>
                📧 {{ user.email }}
            </p>

            <p>
                🏙️
                {{ user.address?.city }}
            </p>

            <p>
                🛣️
                {{ user.address?.street }}
            </p>


            <div class="buttons">

                <button (click)="editUser(user)">

                    Edit

                </button>


                <button class="patch-btn" (click)="patchUser(user)">

                    Patch

                </button>


                <button class="delete-btn" (click)="deleteUser(user.id)">

                    Delete

                </button>

            </div>

        </div>

    </div>

</div>