body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#0f172a;
}

.dashboard{
    padding:40px;
}

.form-section{
    background:white;
    padding:30px;
    border-radius:20px;
    margin-bottom:40px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.form-section h1{
    margin-bottom:20px;
    color:#0f172a;
}

input,
textarea{
    width:100%;
    padding:15px;
    border-radius:12px;
    border:2px solid #cbd5e1;
    margin-bottom:15px;
    font-size:15px;
    box-sizing:border-box;
    outline:none;
    transition:0.3s;
}

input:focus,
textarea:focus{
    border-color:#2563eb;
    box-shadow:0 0 10px rgba(37,99,235,0.3);
}

textarea{
    height:120px;
    resize:none;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    color:white;
    background:#2563eb;
    cursor:pointer;
    transition:0.3s;
    font-weight:bold;
}

button:hover{
    transform:translateY(-2px);
}

.update-btn{
    background:#16a34a;
}

.patch-btn{
    background:#f59e0b;
}

.delete-btn{
    background:crimson;
}

.loading{
    text-align:center;
    color:white;
    font-size:22px;
    margin-top:40px;
}

.users-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.user-card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
    transition:0.3s;
}

.movie-card:hover{
    transform:translateY(-6px);
}

.user-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.user-card h2{
    padding:15px;
    color:#0f172a;
    font-size:22px;
}

.user-card p{
    padding:0 15px 20px;
    color:#475569;
    line-height:1.6;
}

.buttons{
    display:flex;
    gap:10px;
    padding:15px;
    flex-wrap:wrap;
}

.buttons button{
    flex:1;
}

@media(max-width:768px){

    .dashboard{
        padding:20px;
    }

    .buttons{
        flex-direction:column;
    }

}