<div class="task-container">

  <h2>Task List</h2>

  <div *ngIf="(tasks$ | async)?.length === 0">
    No Tasks Available
  </div>

  <div
    class="task-card"
    *ngFor="let task of tasks$ | async">

    <div class="task-header">

      <strong
        [class.completed]="task.completed">

        {{ task.title }}

      </strong>

      <span
        class="priority"
        [ngClass]="{
          'high': task.priority === 'High',
          'medium': task.priority === 'Medium',
          'low': task.priority === 'Low'
        }">

        {{ task.priority }}

      </span>

    </div>

    <p>
      Status:
      {{ task.completed ? 'Completed' : 'Pending' }}
    </p>

    <p>
      Favorite:
      {{ task.isFavorite ? '⭐ Yes' : 'No' }}
    </p>

    <div class="actions">

      <button
        (click)="toggleComplete(task.id)">
        Complete
      </button>

      <button
        (click)="toggleFavorite(task.id)">
        Favorite
      </button>

      <button
        (click)="deleteTask(task.id)">
        Delete
      </button>

    </div>

  </div>

</div>