.light{
  background:white;
  color:black;
  min-height:100vh;
}

.dark{
  background:#222;
  color:white;
  min-height:100vh;
}

.blue{
  background:#e3f2fd;
  color:#0d47a1;
  min-height:100vh;
}
.danger{
  background:#ff5353;
  color:#0d47a1;
  min-height:100vh;
}