.card {
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 6px;
    background: beige;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.name {
    font-size: 14px;
    margin-bottom: 6px;
}

.price {
    font-size: 13px;
    margin-bottom: 10px;
}

.buy-btn {
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
