.details-container {
    display: grid;

}

.details-content {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 10px 20px;

}

.details-content img {

    width: 100%;
    height: 320px;
    object-fit: cover;
}

.details-content:hover {

    transform:
        translateY(-8px);
}

.details-content button {
    width: 100%;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    background-color: #2563eb;
    color: white;
    border: none;
}