<div class="dashboard-container">
    <h1>Student Dashboard</h1>

    <button (click)="toggleStudents()">
        {{ showStudents ? 'Hide Students' : 'Show Students'}}
    </button>

    <div *ngIf="showStudents">
        <h3>
            AverageMarks : {{ getAverageMarks().toFixed(2) }}
        </h3>

        <p *ngIf="students.length == 0 ">
            No Students Available
        </p>

        <div class="student-card" *ngFor="let student of students">
            <h2>{{ student.name }}</h2>

            <p [ngStyle]="{
          color: student.marks >= 50 ? 'green' : 'crimson',
          fontWeight: 'bold'
        }">Marks: {{ student.marks }}</p>

            <p [ngClass]="{
                active : student.isActive,
                inactive : !student.isActive
            }">
                Status : {{ student.isActive ? 'Active' : 'InActive'}}
            </p>

            <p>
                Attendance : {{ student.attendance }}
            </p>
        </div>
    </div>
</div>